/*
Bryttanie House, Michael Long
CS465 -- Project 2: Hiking Project
CSS Style Controller
*/

/* General Styling */

/* Background */
.home_page, .hike_detail_page, .hike_map_page, .directions_page, .weather_page > * {
    /*background-color: #222022;*/
    background-image: url("img/background.png");
    min-height: 900px;
    max-height: 900px;
    max-width: 1920px;
    background-repeat: no-repeat;   
}

/* Body */

.body_style {
   font-family: 'Roboto Mono', monospace;
}

.container {
    padding-top: 7%;
}

/* Site Header */
.app_name {
    align-content: center;
    font-size: 1.25rem;
}

.nav-link {
    color: rgb(38, 94, 147) !important;
}

.nav-link:hover {
    color: black !important;
}


/* Header Elements */
h1 {
    padding-top: 3%;
    padding-bottom: 3%;
}

h3 {
    padding-top: 2%;
}

/* Tables */ 
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    position: relative;
}

tbody {
    height: 100%;
    overflow-y: auto;
}

th {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
    background-color: rgb(63, 65, 67); /* just playing with colors, not set on anything */
    color: white;
    text-align: justify;
    font-size: 1.25rem;
    position: sticky;
    top: 0;
 }
 
 /* again just playing */
 tr:nth-child(even){
    background-color: #f4eeee;
 }
 
 /* here too */
 #hike_table tr:hover, #directions_table tr:hover {
     background-color: #ddd;
 }
     
 td {
     text-align: left;
     padding: 8px 8px;
     padding-left: 4%;
     padding-right: 4%;
     background-color: rgb(238, 234, 234);
 }

    /* Hike Table */
    .page_container {
        text-align: center;
        overflow-x: auto;
        margin-bottom: 10%;
    }
    
    .table_container {
        display: inline-block;
       /* height: 400px;*/
        /*overflow: scroll;*/
    }

    #hike_table {
        border: 1px solid #ddd;
    }

    #hikes_column1 {
        width: 60%;
    }

    #hikes_column2 {
        width: 20%;
        padding-left: 6.5%;
    }

    #hikes_column3 {
        width: 20%;
        padding-left: 6.25%;
    }

    /* Directions Table */
    .directions_container {
        display: inline-block;
        text-align: center;
    /*    height: 400px;
        overflow: scroll; */
    }

    #directions_table {
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        display: inline-block;
    }

    #directions_column1 {
        width: 60%;
    }

    #directions_column2 {
        width: 20%;
    }

    #directions_table td {
        padding-left: 7.5%;
    }

    /* Weather Table */
    .weather_container {
        display: inline-block;
    }

    #weather_table {
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        display: inline-block;
    }

    #weather_table td {
        padding-left: 5%;
        text-align: center;
    }

    #weather_table th {
        padding-left: 4%;
    }

    #weather_row_0 > th {
     /*   background-color: rgb(101, 25, 25); */

    }
    
    /* To resize weather table for smaller screens */
    @media (max-width: 720px) {
        img {
            height: 50%;
        }
    }

    @media (max-width: 486px) {
        img {
            height: 30%
        }       
        
        #weather_table th {
            font-size: 1rem;
        }

    }

    #weather_column_1, #weather_column_2, #weather_column_3, #weather_column_4, 
    #weather_column_5, #weather_column_6 {	        
        width: auto;
    }
    

/* Buttons */
button {
    margin-bottom: 10%;
}

.button_container {
    margin-top: 5%;
}

.btn-light {
    border: 1px solid black !important;
}

/* Input */
input {
    margin-bottom: 10%;
}


/* Map */
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 2%;
    border: 2px solid black;
}

.container {
    margin-bottom: 10%;
}

/* About Page */

    /* Headers and info */
    .about_header {
        margin-top: 3%;
    }

    .app_info {
        margin-top: 3%;
        margin-bottom: 10%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .powered_by_header {
        margin-bottom: 2%;
    }

    .team_header {
        margin-top: 10%;
    }


    /* Borders */ 
    .about_header:after, .powered_by_header:after, .team_header:after {
        content: ""; 
        display: block;
        margin: 0 auto; 
        width: 20%; 
        padding-top: 10px; 
        border-bottom: 2px solid rgb(101, 138, 172); 
    }

    .about_header:after {
        width: 10%;
    }

    .powered_by_header:after {
        width: 13%;
    }

    .team_header:after {
        width: 10%;
    }

    /* Lists */
    ul {
        list-style-type: none;
    }

    .powered_by {
        padding-right: 3%;
        font-size: 2.25rem;
    }

    .tools_used {
        font-size: 1.25rem;
        color: rgb(40, 70, 97);
    }

    /* Team Area */ 
    .team_container {
        margin-bottom: 15%;
    }

    a:link {
        text-decoration: none !important;
      }

    a:hover {
        color:black !important;
    }

    .brtt {
        margin-top: 2%;
    }

    .brtt, .mchl {
        display: inline-block;
        padding-right: 5%;
        padding-left: 5%;
    }

    .brtt_github {
        height: 20%;
        width: 45%;
        margin-top: 12%;
    }

    .github_link {
        margin-bottom: 5%;
    }

/* Visibility Controls */

.invisible {
    display: none;
}
